.person-item:not(:last-child) {
  margin-bottom: var(--spacing-large);
}

.person-item__link {
  color: var(--color-black);
  text-decoration: none;
}

.person-item__link:hover {
  text-decoration: underline;
}

.person-item__link_active {
  color: var(--color-active);
}
