.app {
  height: 100vh;
  margin-top: var(--spacing-small);
}

.app-wrapper {
  display: flex;
  align-items: stretch;
}

.app-wrapper-content {
  background-color: var(--color-white);
  width: 70%;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}
