.header {
  padding: var(--spacing-medium);
  background-color: var(--color-white);
  margin-bottom: var(--spacing-small);
  border-radius: var(--border-radius);
}

.header-logo img {
  width: 50px;
  height: 50px;
}
