@font-face {
  font-family: "Muller";
  src: url("./fonts/MullerRegular.woff2");
}

:root {
  /* colors */
  --color-main-bg: #dfe1e6;
  --color-white: #fff;
  --color-black: #000;
  --color-active: rgb(253, 50, 4);
  --color-bg-post: rgb(224, 217, 217);

  /* spacing */
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-extralarge: 30px;

  /* container */
  --container: 1000px;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

body {
  background-color: var(--color-main-bg);
  margin: 0;
  font-family: "Muller", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0px var(--spacing-medium);
}

.btn-reset {
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
