:root {
  /* colors */
  --color-main-bg: #dfe1e6;
  --color-white: #fff;
  --color-black: #000;
  --color-active: rgb(253, 50, 4);

  /* spacing */
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-extralarge: 30px;

  /* container */
  --container: 1000px;
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

body {
  background-color: var(--color-main-bg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0px var(--spacing-medium);
}
