.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  width: 30%;
  background-color: var(--color-white);
  margin-right: var(--spacing-small);
  padding: var(--spacing-medium);
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  color: var(--color-white);
}

.nav-item:not(:last-child) {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--color-black);
}

.nav-link_active {
  color: var(--color-active);
}
